html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (min-width: 768px) {
  /* For desktop screens */
  .spectrum-View {
    max-width: 800px !important;
  }
}

@media (max-width: 767px) {
  /* For mobile screens */
  .spectrum-View {
    width: 90% !important;
  }
}